body{
    font-family: "Montserrat";
}


/* index */


#section1{
    height:400px;
    width: 100%;
    background-image: url("assets/149979-Duthie-Park-Winter-Gardens.png");
    background-size: cover;
}

#section1 button{
    margin: 0;
    position: absolute;
    top: 30%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height:60px;
    width:300px;
    border-radius: 30px;
}

#section1 h2{
    padding-top: 140px;
    color: white;
    text-align: center;
}

/* trail select */

.trail img{
    height:200px;
    width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.trail{
    background-color: aqua;
    height:300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.trail h2{
    padding-left: 20px;
}