body{
    font-family: "Montserrat";
}


/* trail select */

.trail img{
    height:200px;
    width:100%;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.trail{
    background-color: aqua;
    height:300px;
    border-radius: 30px;
    margin-bottom: 20px;
}

.trail h2{
    padding-left: 20px;
}