/* .MapContainer{
    width:1600px;
    height:1300px;
    background-image: url("trailGuideMap.PNG");
    background-size: 1600px 1300px;
}

#Marker1{
    position: 570px 76px;
    width:5%;
    height:auto;
} */

body{
    font-size:500%;
}

.MapHeader{
    height:8000px;
    width:auto;
}



/* DO NOT CHANGE SIZE OR I WILL FUCKING CRY */
.MapContainer {
    width: 3600px;
    height: 3300px;
    background-image: url("trailGuideMap.PNG");
    background-size: 3600px 3300px;
    position: relative; 

    display: flex;
    flex-direction: column;
    /* height: 100%; */
    /* background-size: cover; */
    background-position: center;
}

.MarkerClass{
    position: absolute;
    width: 8%; 
    height: auto;
}

#Marker1 {
    left: 1866px; 
    top: 139px; 
}

#Marker2 {
    left: 1801px; 
    top: 293px; 
}

#Marker3 {
    left: 1703px; 
    top: 593px; 
}

#Marker4 {
    left: 2086px; 
    top: 831px; 
}

#Marker5 {
    left: 2302px; 
    top: 1265px; 
}

#Marker6 {
    left: 2302px; 
    top: 1465px; 
}

#Marker7 {
    left: 2235px; 
    top: 1616px; 
}

#Marker8 {
    left: 2301px; 
    top: 1853px; 
}

#Marker9 {
    left: 2205px; 
    top: 2353px; 
}

#Marker10 {
    left: 1806px;  
    top: 2611px; 
}

#Marker11 {
    left: 1424px;  
    top: 2683px; 
}

#Marker12 {
    left: 1519px;  
    top: 2415px; 
}

#Marker13 {
    left: 361px;  
    top: 2533px; 
}

#Marker14 {
    left: 1016px;  
    top: 2419px; 
}

#Marker15 {
    left: 851px;  
    top: 2344px; 
}

#Marker16 {
    left: 1040px;  
    top: 2098px; 
}

#Marker17 {
    left: 1369px;  
    top: 1585px; 
}

#Marker18 {
    left: 576px;  
    top: 1419px; 
}

#Marker19 {
    left: 781px;  
    top: 1003px; 
}

#Marker20 {
    left: 472px;  
    top: 857px; 
}

#Marker21 {
    left: 755px;  
    top: 413px; 
}

#Marker22 {
    left: 1149px;  
    top: 1009px; 
}

#Marker23 {
    left: 1512px;  
    top: 818px; 
}

#Marker24 {
    left: 1291px;  
    top: 639px; 
}

#Marker25 {
    left: 2903px;  
    top: 682px; 
}

/* cool things */

.content{
    padding:20px;
}

.map-change{
    height: 60px;
    border-radius: 30px;
    background-color: aqua;
}

/* popup */
.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup #popuptext {
    visibility: hidden;
    width: 160px;
    background-color: #fff; /* Change background color to white */
    color: #555; /* Change text color to dark */
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup #popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    color:#555;
    background-color: #fff;
    
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
}

  


